# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Mac
.DS_Store

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Capacitor & Build
/www
/dist
/build

# Environment
.env
.env.test
.env.production
.env.local
